body {
    background: #eee;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
    color: #7c795d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 24px;
    text-align: center;
    margin-top: 10%;
}

.card {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background: #FFF;
    text-align: center;
    margin-top: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 20px 0 20px 0;
}

.label {
    font-size: 18px;
}

#button {
    width: 40%;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #4285f4;
    color: #fff;
    font-size: 1.6vw;
}

#output {
    font-size: 15px;
    border-top: 1px solid #4285f4;
    padding-top:5px;
    margin-right:5%;
    margin-left:5%;
    width: 90%;
}

#output, #out {
    display: none;
}

#out * {
    margin-top: 10px;
}
